{% extends 'store/main.html' %} {% load static %} {% block content %}
<h3 style="text-align: center">Mist</h3>
<div class="row">
    {% for body_mist in body_mist %}
    <div class="col-lg-4">
        <img class="thumbnail" src="{{body_mist.imageURL}}" />
        <div class="box-element product">
            <h6><strong>{{body_mist.name}}</strong></h6>
            <hr />

            <button
                data-product="{{body_mist.id}}"
                data-action="add"
                class="btn btn-outline-secondary add-btn update-cart"
            >
                Add to Cart
            </button>

            <a class="btn btn-outline-success" href="#">View</a>
            <h4 style="display: inline-block; float: right">
                <strong>${{body_mist.price}}</strong>
            </h4>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}
