{% extends 'store/main.html' %} {% load static %} {% block content %}
<h3 style="text-align: center">Supplies and Gift Sets</h3>
<div class="row">
    {% for supplies_gift_sets in supplies_gift_sets %}
    <div class="col-lg-4">
        <img class="thumbnail" src="{{supplies_gift_sets.imageURL}}" />
        <div class="box-element product">
            <h6><strong>{{supplies_gift_sets.name}}</strong></h6>
            <hr />

            <button
                data-product="{{supplies_gift_sets.id}}"
                data-action="add"
                class="btn btn-outline-secondary add-btn update-cart"
            >
                Add to Cart
            </button>

            <a class="btn btn-outline-success" href="#">View</a>
            <h4 style="display: inline-block; float: right">
                <strong>${{supplies_gift_sets.price}}</strong>
            </h4>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}
